.navbar-brand {
  font-family: 'Peralta', cursive;
}

.home-h1 {
  font-family: 'Peralta', cursive;
}


/* equal card height */
.row-equal > div[class*='col-'] {
  display: flex;
  flex: 1 0 auto;
}

.row-equal .card {
 width: 100%;
}