{% extends "base.jinja2" %}

{% block stylesheet %}
    {{ super() }}
    <link href="{{request.static_url('wedding_gallery:static/carrousel.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}

<h1 class="text-center mb-3 home-h1">Wonderfull Moments</h1>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner row w-100 mx-auto">
        {% set ns = namespace(class="active") %}
        {% for photo in photos %}
            {% if not loop.first %}
                 {% set ns.class = "" %}
            {% endif %}
            
            <div class="carousel-item col-md-4 {{ns.class}}" >
                <div class="card" style="height: 31rem; width: 22rem;">
                    <img class="card-img-top" height="254" width="200" src="{{ request.static_url('wedding_gallery:images/' + photo.uuid )}}" alt="{{photo.name}}" 
                         data-toggle="modal" data-target="#exampleModalCenter" data-whatever="{{ request.static_url('wedding_gallery:images/' + photo.uuid )}}">
                    <div class="card-body">
                        <p class="card-text">{{ photo.description }}</p> 
                    </div>
                    <div class="card-footer">
                        <p class="card-text"><small class="text-muted">uploaded in: 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        {% endfor %}       
    </div>

    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
{% set url='$page' %}
<div class="pager">
    {% set link_attr={"class": "btn small"} %}
    {% set curpage_attr={"class": "btn primary small disabled"} %}
    {% set dotdot_attr={"class": "btn small disabled"} %}
    <!-- Usei o filter com parametro striotags para converter as strings de retorno
    para tags html-->
    {% filter striptags %}
        {{ photos.pager(url=url,format="$link_previous ~2~ $link_next",
                                                  symbol_previous="«", symbol_next="»",
                                                 link_attr=link_attr, curpage_attr=curpage_attr,
                                                 dotdot_attr=dotdot_attr)}}
    {% endfilter %}
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body" style="padding: 0">
             <img class="card-img" height="440" width="400" src="" alt="imagem">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
    {{ super() }}   
    <script >    
        $("#myCarousel").on("slide.bs.carousel", function(e) {
          var $e = $(e.relatedTarget);
          var idx = $e.index();
          var itemsPerSlide = 3;
          var totalItems = $(".carousel-item").length;
          if (idx >= totalItems - (itemsPerSlide - 1)) {
            var it = itemsPerSlide - (totalItems - idx);
            for (var i = 0; i < it; i++) {
              // append slides to end
              if (e.direction == "left") {
                $(".carousel-item")
                  .eq(i)
                  .appendTo(".carousel-inner");
              } else {
                $(".carousel-item")
                  .eq(0)
                  .appendTo($(this).find(".carousel-inner"));
              }
            }
          }
        });
    </script>
    <script src="{{request.static_url('wedding_gallery:static/js/home.js')}}"></script>
{% endblock javascript %}