{% extends "base.jinja2" %}

{% block stylesheet %}
    {{ super() }}
{% endblock %}

{% block content %}

<h1 class="text-center mb-3 home-h1">Wonderfull Moments</h1>
<div class="row">
{% if photos %}
{% for photo in photos %}
        <div class="col-4">
            <div class="card" style="height: 28rem; width: 22rem;">
                <img class="card-img-top" height="254" width="200" src="{{ request.static_url('wedding_gallery:images/' + photo.uuid )}}" alt="{{photo.name}}" 
                     data-toggle="modal" data-target="#exampleModalCenter" data-whatever="{{ request.static_url('wedding_gallery:images/' + photo.uuid )}}">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <button type="button" class="btn btn-default btn-sm like" id="{{photo.id}}">
                            {% if request.user.id in photo.likes|map(attribute='user_id') %}
                                <i class="fas fa-heart"></i>
                            {% else %}
                                <i class="far fa-heart"></i>
                            {%endif%}
                        </button>
                        <strong id="like{{photo.id}}">{{photo.likes|length}} like(s)</strong>
                    </li>
                </ul>
                <div class="card-body">
                    <p class="card-text">{{ photo.description }}</p> 
                </div>
                <div class="card-footer">
                    <p class="card-text"><small class="text-muted">uploaded in: {{photo.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</small></p>
                </div>
            </div>
        </div>
{% endfor %}
</div>  
{% include "page.jinja2" ignore missing %}
{% else %}
<div class="jumbotron">
  <h1 class="display-4">Welcome my friend.</h1>
  <p class="lead">No one photo was upload or maybe it not approved yet to be shown here. 
   You can upload a photo clicking in uplod button above in navigation bar.</p>
</div>
{% endif %}
{% include "modal.jinja2"%}
{% endblock content %}