{% extends 'base.jinja2' %}

{% block title %}
    Upload Photo
{% endblock %}

{% block content %}

{% if view.session.peek_flash(queue='error') %}
    {% include "success.jinja2" ignore missing %}
{% elif view.session.peek_flash(queue='success') %}
    {% include "error.jinja2" ignore missing %}
{% endif %}

<div class="row">
    <div class="col-md-6 offset-md-3 my-4">
        <div class="card">
            <div class="card-header">
                Upload Your Photo
            </div>
            <div class="card-body">
                <form action="{{request.route_url('save_photo')}}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
                    <div style="display: none;">
                        <input name="csrf_token" type="hidden" value="{{ view.session.get_csrf_token() }}" />
                    </div>
                    <div class="form-group">
                        <label for="photo">Choose photo:</label>
                        <input type="file" class="form-control-file" id="photo" name="photo" required>
                    </div>
                    <div class="form-group">
                        <label for="text-area">Description:</label>
                        <textarea name="description" class="form-control" id="text-area" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form> 
            </div>
        </div>
    </div>
</div>
{% endblock %}